<h2>Messages regarding this appointment</h2>
<ul id="messages">
  <% appointment.messages.each do |message| %>
  <%= render 'messages/show', message: message %>
  <% end %>
</ul>

<p>Send a message to <%= appointment.barber.name ? appointment.barber.name : appointment.barber.email %></p>
<%= simple_form_for([appointment, message], remote: true) do |f| %>
  <%= f.input_field :content, placeholder: 'Type your message'%>
  <%= f.submit "Send", class: "btn btn-primary" %>
<% end %>
