<ul class="sent-message">
<% @messages.each do |message| %>
<li><strong><%= message.content %></strong> written by <%= message.author.email%></li>
<% end %>
</ul>

<p>Chat with <%= @appointment.barber.name %></p>
<%= simple_form_for [@appointment, @message] do |f| %>
  <%= f.input_field :content, as: :text, placeholder: 'Go for it'%>
  <%= f.submit "Send", class: "btn btn-primary" %>
<% end %>


