<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class='container'>
  <ul class="no-bulletpoints">
  <% @messages.each do |message| %>
    <li class="sent-message"><i class="far fa-comment"></i> <%= message.content %></li>
   <% end %>

  </ul>

    <p>Chat with <%= @appointment.barber.name %></p>
  <%= simple_form_for [@appointment, @message] do |f| %>
    <%= f.input_field :content, as: :text, placeholder: '...'%>
    <%= f.submit "Send", class: "btn btn-primary" %>
  <% end %>
</div>
