<div class="barber-card">
  <!-- the image below will be the barber avatar -->
  <img src="https://images.unsplash.com/photo-1476419627509-e59980979da4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
  <div class="barber-card-infos">
    <h2><%= link_to user.name, user_path(user) %></h2>
    <p>Services offered:
      <% user.services.each do |service| %>
      <%= service.title %>
      <% end %>
    </p>
    <% if user.commute_area_address && user.host_service_address %>
    <p>Receives customers at <%= user.host_service_address %> and is willing to commute to your location for € <%= user.commute_price %>.</p>
    <% elsif user.host_service_address %>
    <p>Receives customers at <%= user.host_service_address %>.</p>
    <% else %>
    <p>Is willing to commute to your location for € <%= user.commute_price %>.</p>
    <% end %>
  </div>

  <div class="barber-card-stars">
    <% if user.average_rating == 'n.a.' %>
    <span>No ratings available for this barber.</span>
    <% else %>
    <span class="fa fa-star<% if user.average_rating >= 1 %> checked<% end %>"></span>
    <span class="fa fa-star<% if user.average_rating >= 2 %> checked<% end %>"></span>
    <span class="fa fa-star<% if user.average_rating >= 3 %> checked<% end %>"></span>
    <span class="fa fa-star<% if user.average_rating >= 4 %> checked<% end %>"></span>
    <span class="fa fa-star<% if user.average_rating >= 5 %> checked<% end %>"></span>
    <% end %>
  </div>
</div>
