<div class="barber-card">
  <!-- the image below will be the barber avatar -->
  <div class="img-container">
    <img src="<%= image_url(user.avatar_url) %>" class="avatar">
  </div>

  <div class="card-not-image">
    <div class="barber-card-stars">
      <div >
        <% if user.average_rating == 'n.a.' %>
        <em>No ratings available for this barber.</em>
        <% else %>
        <span class="fa fa-star<% if user.average_rating >= 1 %> checked<% end %>"></span>
        <span class="fa fa-star<% if user.average_rating >= 2 %> checked<% end %>"></span>
        <span class="fa fa-star<% if user.average_rating >= 3 %> checked<% end %>"></span>
        <span class="fa fa-star<% if user.average_rating >= 4 %> checked<% end %>"></span>
        <span class="fa fa-star<% if user.average_rating >= 5 %> checked<% end %>"></span>
        <% end %>
      </div>
    </div>

    <div class="barber-card-infos">
      <h2><%= link_to user.name, user_path(user) %></h2>

      <div class="services-offered-info">
        Offers: <%= user.services.map { |service| service.title }.join(', ') %>.
      </div>

      <div class="location-info">
        <% if user.commute_area_address && user.host_service_address %>
        <ul class="location-list">
          <li>Receives customers at <%= user.host_service_address %>.</li>
          <li>Commute to your location for € <%= user.commute_price %>.</li>
        </ul>
        <% elsif user.host_service_address %>
        Receives customers at <%= user.host_service_address %>.
        <% else %>
        Commute to your location for € <%= user.commute_price %>.
        <% end %>
      </div>
    </div>

  </div>

</div>
