<div class="barbers-index">
  <div class="barbers-left">
    <div class="row">
      <div class="col-xs-12">
        View barbers that are willing to commute to your location?
        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input hidden" id="checkbox-to-view-commuting-barbers" checked="">
          <span class="custom-control-indicator"></span>
        </label>
      </div>

      <div class="col-xs-12">
        View barbers that provide their service at their own location next to you?
        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input hidden" id="checkbox-to-view-hosting-barbers" checked>
          <span class="custom-control-indicator"></span>
        </label>
      </div>

      <% @users.each do |user| %>
      <div class="col-xs-12 col-sm-6 barber-search-result<%= ' commuting-barber' if user.commute_area_address %><%= ' hosting-barber' if user.host_service_address %>">
        <%= render partial: "barber-card", locals: {user: user} %>
      </div>
      <% end %>
    </div>
  </div>

  <div class="barbers-right">
    <% if @markers %>
    <% unless @markers.empty? %>
    <div
    class="map"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
    <% end %>
    <% end %>
  </div>
</div>
