<div class="barbers-index">
  <div class="barbers-left">
    <h1><% if @searched_all_barbers %>All b<% else %>B<% end %>arbers<% if @searched_for_city %> in <%= @searched_for_city %><% elsif @searched_for_name %> called <%= @searched_for_name %><% end %></h1>
    <div class="row">
      <div class="col-xs-12">
        <div class="radio-button-block">
          <div class="radio-button-label">
            Commuting barbers
          </div>
          <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input hidden" id="checkbox-to-view-commuting-barbers" checked="">
            <span class="custom-control-indicator"></span>
          </label>
        </div>
      </div>

      <div class="col-xs-12">
        <div class="radio-button-block">
          <div class="radio-button-label">
            Hosting barbers
          </div>
          <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input hidden" id="checkbox-to-view-hosting-barbers" checked>
            <span class="custom-control-indicator"></span>
          </label>
        </div>
      </div>

      <% @users.each do |user| %>
      <div class="col-xs-12 col-sm-6 barber-search-result<%= ' commuting-barber' if user.commute_area_address %><%= ' hosting-barber' if user.host_service_address %>">
        <%= render partial: "barber-card", locals: {user: user} %>
      </div>
      <% end %>
    </div>
  </div>

  <div class="barbers-right">
    <% if @markers %>
    <% unless @markers.empty? %>
    <div
    class="map"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
    <% end %>
    <% end %>
  </div>
</div>
