<!-- <div class="container"> -->
  <div class="barbers-index">
    <div class="barbers-left">
      <div class="row">
        <div class="btn btn-danger active" id="view_commuting_barbers">View barbers that are willing to commute to your location</div>
        <div class="btn btn-primary active" id="view_hosting_barbers">View barbers that provide their service at their own location next to you</div>

        <% @users.each do |user| %>
        <div class="col-xs-12 col-sm-6 barber-search-result<%= ' commuting-barber' if user.commute_area_address %><%= ' hosting-barber' if user.host_service_address %>">
          <%= render partial: "barber-card", locals: {user: user} %>
        </div>
        <% end %>
      </div>
    </div>

    <div class="barbers-right">
      <% if @markers %>
      <% unless @markers.empty? %>
      <div
      class="map"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
      <% end %>
      <% end %>
    </div>
  </div>
  <!-- </div> -->
