<div class="banner barber-page-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_url("cover.png") %>');">
  <div class="container">
    <div class="flexbox-down">
      <div class="flexbox-right">
        <div class="service-icons-barber-show-page">
          <div class="text-services">
            Services
          </div>
          <% if @user.services.any? { |service| /[hH]aircut/.match?(service.title) } %>
          <img src="<%= image_url('haircutt.png') %>">
          <% end %>
          <% if @user.services.any? { |service| /[bB]eard/.match?(service.title) } %>
          <img src="<%= image_url('beardd.png') %>">
          <% end %>
        </div>

        <div class="barber-show-page-stars">
          <div>
            <% if @user.average_rating == 'n.a.' %>
            <em>No ratings available for this barber.</em>
            <% else %>
            <span class="fa fa-star<% if @user.average_rating >= 1 %> checked<% end %>"></span>
            <span class="fa fa-star<% if @user.average_rating >= 2 %> checked<% end %>"></span>
            <span class="fa fa-star<% if @user.average_rating >= 3 %> checked<% end %>"></span>
            <span class="fa fa-star<% if @user.average_rating >= 4 %> checked<% end %>"></span>
            <span class="fa fa-star<% if @user.average_rating >= 5 %> checked<% end %>"></span>
            <% end %>
          </div>
          <div class="review-count">(<%= Review.where(receiver: @user).count %>)</div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="barber-profile-pane">
    <%= image_tag @user.avatar_url , class: 'avatar profile-avatar' %>
    <div class="barber-profile-description">
      <div class="barber-profile-name">
        <h1><%= @user.name %></h1>
      </div>
      <div class="barber-profile-modes">
        <% if @user.host_service_address %>
        <div class="barber-profile-mode-icon"><i class="fas fa-map-marker-alt"></i></div> Received customers at <%= @user.host_service_address %>
        <% end %>
        <% if @user.host_service_address && @user.commute_area_address %>
        <br>
        <% end %>
        <% if @user.commute_area_address %>
        <div class="barber-profile-mode-icon"><i class="fas fa-bicycle"></i></div> Commutes to your address for € <%= @user.commute_price %>.00
        <% end %>
      </div>
      <div class="barber-profile-bio">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.
      </div>
    </div>
  </div>


  <div class="carousel-and-map-pane">

    <div class="pane-container">
      <div class="container-title">
        <em><%= @user.name %>'s masterpieces</em>
      </div>
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <% @user.image_urls.each_with_index do |url_obj, i| %>
          <div class="item<% if i == 0 %> active<% end %>" style="background-image: url('<%= image_url(url_obj.url) %>');">
          </div>
          <% end %>
        </div>
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

    <% if @marker %>
    <div class="pane-container">
      <div class="container-title">
        <em><%= @user.name %> receives clients here</em>
      </div>

      <div
      id="map"
      style="width: 350px;
      height: 380px;"
      data-markers="<%= @marker.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
    </div>
    <% end %>
  </div>









  <h2>Signature Cuts:</h2>
  <% @user.services.each do |service| %>
  <%= render partial: "service-card", locals: {user: @user, service: service} %>
  <% end %>

  <% unless @reviews.empty? %>
  <h2><br>Reviews</h2>
  <div class="review-cards">
    <% @reviews.each do |review| %>
    <%= render partial: "reviews/review-card", locals: {review: review} %>
    <% end %>
  </div>
  <% end %>
</div>
