<h1><%= @user.name %></h1>

<!-- these below will have to be service cards -->
<p><%= @user.name %> offers:</p>
<ul>
  <% @user.services.each do |service| %>
  <li>
    <%= link_to "#{service.title} for #{service.price} €", new_user_service_appointment_path(@user, service) %>
  </li>
  <% end %>
</ul>

<% @user.services.each do |service| %>
<%= render partial: "service-card", locals: {service: service} %>
<% end %>

<% if @marker %>
  <div
    id="map"
    style="width: 500px;
    height: 500px;"
    data-markers="<%= @marker.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
<% end %>


<ul>
  <% unless @reviews.empty? %>
  <% @reviews.each do |review| %>
  <li>
    <%= review.author.name %> - Rating: <%= review.rating %>/5<br>
    <%= review.content %>
  </li>
  <% end %>
  <% end %>
</ul>
