<h1><%= @user.name %></h1>

<!-- these below will have to be service cards -->
<p><%= @user.name %> offers:</p>
<ul>
  <% @user.services.each do |service| %>
  <li>
    <%= service.title %> for <%= service.price %> €
  </li>
  <% end %>
</ul>

<% if @marker %>
  <div
    id="map"
    style="width: 500px;
    height: 500px;"
    data-markers="<%= @marker.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
<% end %>


<ul>
  <% unless @reviews.empty? %>
  <% @reviews.each do |review| %>
  <li>
    <%= review.author.name %> - Rating: <%= review.rating %>/5<br>
    <%= review.content %>
  </li>
  <% end %>
  <% end %>
</ul>
