<h1><%= @user.name %></h1>

<!-- these below will have to be service cards -->
<p><%= @user.name %> offers:</p>

<% @user.services.each do |service| %>
<%= render partial: "service-card", locals: {user: @user, service: service} %>
<% end %>

<% if @marker %>
<div
id="map"
style="width: 500px;
height: 500px;"
data-markers="<%= @marker.to_json %>"
data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
<% end %>

<% unless @reviews.empty? %>
<div class="review-cards">
  <% @reviews.each do |review| %>
  <%= render partial: "reviews/review-card", locals: {review: review} %>
  <% end %>
</div>
<% end %>
