<div class="banner barber-page-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_url("cover.png") %>');">
  <div class="container">
    <div class="flexbox-down">
      <div class="flexbox-right">
        <div class="service-icons-barber-show-page">
          <div class="text-services">
            Services
          </div>
          <% if @user.services.any? { |service| /[hH]aircut/.match?(service.title) } %>
          <img src="<%= image_url('haircutt.png') %>">
          <% end %>
          <% if @user.services.any? { |service| /[bB]eard/.match?(service.title) } %>
          <img src="<%= image_url('beardd.png') %>">
          <% end %>
        </div>

        <div class="barber-show-page-stars">
          <div>
            <% if @user.average_rating == 'n.a.' %>
            <em>No ratings available for this barber.</em>
            <% else %>
            <span class="fa fa-star<% if @user.average_rating >= 1 %> checked<% end %>"></span>
            <span class="fa fa-star<% if @user.average_rating >= 2 %> checked<% end %>"></span>
            <span class="fa fa-star<% if @user.average_rating >= 3 %> checked<% end %>"></span>
            <span class="fa fa-star<% if @user.average_rating >= 4 %> checked<% end %>"></span>
            <span class="fa fa-star<% if @user.average_rating >= 5 %> checked<% end %>"></span>
            <% end %>
          </div>
          <div class="review-count">(<%= Review.where(receiver: @user).count %>)</div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="barber-profile-pane">
    <%= image_tag @user.avatar_url , class: 'avatar profile-avatar' %>
    <div class="barber-profile-description">
      <div class="barber-profile-name">
        <h1 id="h1-small"><%= @user.name %></h1>
      </div>
      <div class="barber-profile-modes">
        <% if @user.host_service_address %>
        <div class="barber-profile-mode-icon"><i class="fas fa-map-marker-alt"></i></div> Received customers at <%= @user.host_service_address %>
        <% end %>
        <% if @user.host_service_address && @user.commute_area_address %>
        <br>
        <% end %>
        <% if @user.commute_area_address %>
        <div class="barber-profile-mode-icon"><i class="fas fa-bicycle"></i></div> Commutes to your address for € <%= @user.commute_price %>.00
        <% end %>
      </div>
      <div class="barber-profile-bio">
         After attending and completing barber school as a teenager, I began work as a junior barber in a small salon, Having such a passion for the craft meant I quickly climbed the ranks eventually receiving my Master Barber qualification in 2014 after achieving the required 3000 hours as well as having passed the set examinations, however with almost 20 years of experience and over 5000 happy customers I believe its a title I’ve truly earned. I am a firm believer that going to the barber shouldn't be a chore but rather a pleasant experience the customers look forward to. It is for this reason I have managed my own salon for the past 10 years. A salon where each customer feels they can chat to me as a friend not just a barber. I don't view what I do as work but rather as a passion.
      </div>
    </div>
  </div>


  <div class="carousel-and-map-pane">

    <div class="pane-container">
      <div class="container-title">
        <em><%= @user.name %>'s masterpieces</em>
      </div>
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <% @user.image_urls.each_with_index do |url_obj, i| %>
          <div class="item<% if i == 0 %> active<% end %>" style="background-image: url('<%= image_url(url_obj.url) %>');">
          </div>
          <% end %>
        </div>
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

    <% if @marker %>
    <div class="pane-container">
      <div class="container-title">
        <em><%= @user.name %> receives clients here</em>
      </div>

      <div
      id="map"
      style="width: 350px;
      height: 380px;"
      data-markers="<%= @marker.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
    </div>
    <% end %>
  </div>

  <h2><br>Signature Cuts</h2>
  <% @user.services.each do |service| %>
  <%= render partial: "service-card", locals: {user: @user, service: service} %>
  <% end %>

  <% unless @reviews.empty? %>
  <h2><br>Reviews</h2>
  <div class="review-cards">
    <% @reviews.each do |review| %>
    <%= render partial: "reviews/review-card", locals: {review: review} %>
    <% end %>
  </div>
  <% end %>
</div>
