<div class="container">
  <h1><%= @user.name %>'s dashboard</h1>


  <ul class="list-inline tabs-underlined">
    <li>
      <a href="<%= dashboard_path %>" class="tab-underlined<% if current_page?(controller:"pages", action: "dashboard") %> active<% end %>">Profile</a>
    </li>
    <li>
      <a href="<%= dashboard_upcoming_path %>" class="tab-underlined<% if current_page?(controller:"pages", action: "dashboard_upcoming") %> active<% end %>">Upcoming appointments</a>
    </li>
    <li>
      <a href="<%= dashboard_previous_path %>" class="tab-underlined<% if current_page?(controller:"pages", action: "dashboard_previous") %> active<% end %>">Previous appointments</a>
    </li>
  </ul>

  <% if current_page?(controller:"pages", action: "dashboard") %>
  <!-- since we are not making it possible to edit or create user profiles, for now we are gonna hardcode the dashboard profile page, so I am just making a quick check that we are landing there with the right user... -->
  <% if @user.name == 'Filo' %>
  <img src="https://i2.wp.com/www.ahfirstaid.org/wp-content/uploads/2014/07/avatar-placeholder.png" alt="Avatar pic">
  <h2>Hi guys, I am Filo.</h2>
  <p>Social media links...</p>
  <p>Some hardcoded description</p>
  <p>A caroussel of pics</p>
  <p>Reviews:</p>
  <!-- the reviews below will have to be cards -->
  <ul>
    <% @reviews.each do |review| %>
    <li>Author: <%= review.author.name %> - Rating: <%= review.rating %>/5<br><%= review.content %></li>
    <% end %>
  </ul>
  <% end %>
  <% end %>


  <% if current_page?(controller:"pages", action: "dashboard_upcoming") %>
  <% @appointments.each_with_index do |appt, i| %>
  <%= render 'appointments/appointment-card', appointment: appt, marker: @markers[i] %>
  <% end %>
  <% end %>

  <% if current_page?(controller:"pages", action: "dashboard_previous") %>
  <!-- the appointments below will have to be cards -->
  <ul>
    <% @appointments.each_with_index do |appt, i| %>
    <li>
      Appointment with <%= appt.barber.name %><br>
      <%= appt.service.title %><br>
      <%= appt.datetime %><br>
      <%= appt.location_address %><br>
      Service price: € <%= appt.service_price %>
      <% if appt.commute_price %><br>Commute price: <%= appt.commute_price %><% end %><br>
      <%= appt.state %><br>
      <%= link_to "Review #{appt.barber.name}", new_user_review_path(appt.barber) %>
      <!-- <a href="#">Review <%#= appt.barber.name %></a> -->
      <div
      class="map"
      style="width: 200px;
      height: 200px;"
      data-markers="<%= @markers[i].to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
    </li>
    <% end %>
  </ul>
  <% end %>
</div>
