<div class="banner hompage-banner" style="background-image: linear-gradient(rgba(22,26,38,0.6),rgba(22,26,38,0.6)), url('<%= image_url("cover.png") %>');">
  <div>
    <h1>Good barbers are all around you</h1>
    <div class="homepage-form">
      <%= form_tag users_path, method: :get, id: 'search_form' do %>
      <span class="fas fa-map-marker-alt"></span>
      <%= text_field_tag :query, params[:query], class: "form-control icon", placeholder:" City or barber" %>

      <%= button_tag 'Search', class: 'shortcut-btn', id: 'search_button' %>
      <% end %>
    </div>
  </div>
</div>

<div class="container how-it-works">
  <h2 class="hp-centered">How it works</h2>
  <div class="homepage_how_it_works_row">
    <div class="how-it-works-box">
      <div class="pink-circle"><span>1</span></div>
      <p>Find all great barbers in any city</p>
      <img class="img" src="<%= image_path('magnifier.png') %>" alt="magnifier" height="100" width="100">
    </div>
    <div class="how-it-works-box">
      <div class="pink-circle"><span>2</span></div>
      <p>Select your favorite barber</p>
      <img class="img" src="<%= image_path('heart.png') %>" alt="heart" height="100" width="100">
    </div>
    <div class="how-it-works-box">
      <div class="pink-circle"><span>3</span></div>
      <p>Book online and meet your barber</p>
      <img class="img" src="<%= image_path('booking.png') %>" src="booking.png" alt="booking" height="100" width="100">
    </div>
  </div>
</div>

<div class="pic-and-description">
  <div class="alternate-panes-row">
    <div class="alternate-pane">
      <div class="home-page-pics" style="background-image: linear-gradient(rgba(22,26,38,0.5),rgba(22,26,38,0.5)), url('<%= image_url("homepage-pic-1.png") %>');">
      </div>
    </div>
    <div class="alternate-pane">
      <div class="alternate-text-pane">
        You are ugly - but don't worry - we can help you ..
      </div>
    </div>
  </div>

  <div class="alternate-panes-row">
    <div class="alternate-pane">
      <div class="alternate-text-pane">
        .. because we know the best barbers in town ..
      </div>
    </div>
    <div class="alternate-pane">
      <div class="home-page-pics" style="background-image: linear-gradient(rgba(22,26,38,0.5), rgba(22,26,38,0.5)), url('<%= image_url("homepage-pic-2.png") %>');">
      </div>
    </div>
  </div>

  <div class="alternate-panes-row">
    <div class="alternate-pane">
      <div class="home-page-pics" style="background-image: linear-gradient(rgba(22,26,38,0.5), rgba(22,26,38,0.5)), url('<%= image_url("homepage-pic-3.png") %>');">
      </div>
    </div>
    <div class="alternate-pane">
      <div class="alternate-text-pane">
        .. and we can help you find your favorite barber around the corner with minmial effort and great result. We'll make you great again.
      </div>
    </div>
  </div>
