<div class="banner" style="background-image: linear-gradient(rgba(22,26,38,0.6),rgba(22,26,38,0.6)), url('<%= image_url("cover.png") %>');">
  <div>
    <h1>Good barbers are all around you</h1>
    <%= form_tag users_path, method: :get, id: 'search_form' do %>
    <span class="fas fa-map-marker-alt"></span>
    <%= text_field_tag :query, params[:query], class: "form-control icon", placeholder:" City or barber" %>

    <%= button_tag 'Search', class: 'shortcut-btn', id: 'search_button' %>
    <% end %>
  </div>
</div>

<div class="wrapper how-it-works">
  <h2 class="centered">How it works</h2>
  <div class="row">
    <div class="col-xs-4 how-it-works-box">
      <div class="pink-circle"><span>1</span></div>
      <p>Find all great barbers in any city</p>
      <img class="img" src="<%= image_path('magnifier.png') %>" alt="magnifier" height="100" width="100">

    </div>
    <div class="col-xs-4 how-it-works-box">
      <div class="pink-circle"><span>2</span></div>
      <p>Select your favorite barber</p>
      <img class="img" src="<%= image_path('heart.png') %>" alt="heart" height="100" width="100">
    </div>
    <div class="col-xs-4 how-it-works-box">
      <div class="pink-circle"><span>3</span></div>
      <p>Book online and meet your barber</p>
       <img class="img" src="<%= image_path('booking.png') %>" src="booking.png" alt="booking" height="100" width="100">
    </div>
  </div>

</div>

<div class="pic-and-description">
<div class="row centered">
  <div class="col-xs-6">
    <div class="home-page-pics left" style="background-image: linear-gradient(rgba(22,26,38,0.5),rgba(22,26,38,0.5)), url('<%= image_url("homepage-pic-1") %>');">
  </div>
  </div>
  <div class="col-xs-6">
    <p class="text-box right">You are ugly - but don't worry - we can help you .. </p>
  </div>
</div>


<div class="row centered">
  <div class="col-xs-6">
    <p class="text-box left">.. because we know the best barbers in town ..</p>
  </div>
  <div class="col-xs-6">
    <div class="home-page-pics right" style="background-image: linear-gradient(rgba(22,26,38,0.5), rgba(22,26,38,0.5)), url('<%= image_url("homepage-pic-2") %>');">
  </div>
  </div>
</div>

<div class="row centered">
  <div class="col-xs-6">
    <div class="home-page-pics left" style="background-image: linear-gradient(rgba(22,26,38,0.5), rgba(22,26,38,0.5)), url('<%= image_url("homepage-pic-3") %>');">
  </div>
  </div>
  <div class="col-xs-6">
    <p class="text-box right">.. and we can help you to find your favorite barber around the corner with minmial effort and great result. We'll make you great again.</p>
  </div>
</div>
</div>
