<h1>New Appointment</h1>

<%= simple_form_for [@user, @service, @appointment] do |f| %>
<%= hidden_field_tag :location_address, @user.commute_area_address%>
  <%= f.input :datetime %>
  <%= f.submit "Submit", class: "btn btn-danger" %>
<% end %>
<%= link_to 'Go back', root_path %>
